

<%= form_tag :action => :create do %>
<div class="avatar">
 <img src="http://cdn.ialireza.me/avatar.png">
</div>
<h2>Sign up</h2>
  <%= label_tag :user, 'Email: ' %><br>
  <%= text_field_tag :user, "youremail@email.com" %><br>

  <%= label_tag :password, 'Password: ' %><br>
  <%= password_field_tag :password %><br>

  <%= submit_tag 'Register' %>

<% end %>

